[Unit]
Description=nhl service
After=multi-user.target
Wants=nhl_deleter.service
Before=nhl_deleter.service

[Service]
Type=idle
WorkingDirectory=/opt/reddit-bots/nhl
ExecStart=/usr/bin/python3 /opt/reddit-bots/nhl/nhl.py
ExecStartPost=/usr/bin/python3 /opt/reddit-bots/service_email.py --start --service=NHL
ExecStopPost=/usr/bin/python3 /opt/reddit-bots/service_email.py --stop --service=NHL
Restart=on-failure
RestartSec=120
StartLimitInterval=0

[Install]
WantedBy=multi-user.target
